body {
    background-color: lightgrey;
    display: block;
}

a:visited {
    color: black;
}

h2,
p,
.readme-wrapper {
    text-align: center;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-family: 'Comfortaa', cursive;
}

a:hover {
    color: blue;
    font-weight: bold;
}


span {
    color: blue;
    font-weight: bold;
}

.boxes {
    position: relative;
    margin: 0 0 0 0;
}    

#box1 {
    top: 10px;
    border: 5px solid black;
    border-radius: 10px;
    width: 30rem;
    height: 25rem;
    background-color: darkslateblue;
}

#box2 {
    top: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 30rem;
    height: 25rem;
    background-color: darkslategray;
}

#box3 {
    top: 30px;
    border: 5px solid black;
    border-radius: 10px;
    width: 30rem;
    height: 25rem;
    background-color: darkturquoise;
}

#box4 {
    top: 40px;
    border: 5px solid black;
    border-radius: 10px;
    width: 30rem;
    height: 25rem;
    background-color: darkgray;
}

.image {
    background: blue;
    height: 50px;
    width: 50px;
    border-radius: 2em;
    position: relative;
    left: 6em;
    top: 3em;
    
}

#show1 { 
    position: relative;
    top: 50px;
    color: black;
}

#show2 { 
    position: relative;
    top: 50px;
    color: blue;
}

#show3 {
    position: relative;
    top: 50px;
    color: blueviolet;
}

#show4 {
    position: relative;
    top: 50px;
    color: red;
}

#show5 {
    position: relative;
    top: 50px;
    color: purple
}


.container1 {
    position: relative;
    top: 50px;
}

ul {
    color: teal;
    margin: 0;
    border: 2px solid black;
}

.star {
    color: yellowgreen;
}

#wars {
    color: black;
}